/**
 * light.css - Tema claro
 * 
 * Define los colores y estilos para el tema claro
 * utilizando media query prefers-color-scheme
 * 
 * @author Samuel Ospina
 */

@media (prefers-color-scheme: light) {

    /* ===== COLORES GENERALES ===== */
    :root {
        color: rgba(0, 0, 0, 1);
        background-color: #ffffff;
    }
    
    #fondo, 
    #reves {
        filter: invert(1);
    }

    /* ===== HEADER ===== */
    nav ul li a {
        color: #000000;
    }

    /* ===== PÁGINA DE INICIO ===== */
    .titulo {
        color: #000000;
    }
    
    .container .code {
        color: #000000;
    }
    
    .code .etiqueta {
        color: #800000;
    }
    
    .code .propiedad {
        color: #E50000;
    }
    
    .code .string {
        color: #0000FF;
    }

    /* ===== SOBRE MÍ ===== */
    .card {
        background-color: #ebebeb;
    }
    
    .card__content {
        background-color: #ffffff;
    }
    
    .card__title {
        color: #000000;
    }
    
    .card__description {
        color: #777;
    }

    /* ===== HABILIDADES ===== */
    span.etiqueta {
        color: #800000;
    }
    
    span.code {
        color: #000000;
    }
}
