.slider i {
    transition: transform 0.5s ease, 0.5s ease;
}
.slider i:hover {
    transform: scale(1.1);
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
}

.skills h2{
    font-size: 400%;
    text-align: center;
    padding: 2%;
}
.skills .titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.skills .titulo img{
    height: 5vh;
}
.skill-group h2{
    font-size: 250%;
    text-align: left;
}

i {
    font-size: 600%;
}
.slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.slider .slide-track {
    display: flex;
    width: calc(200px * 14);
}
.slider .slide {
    width: 200px;
}
.slider .slide i {
    width: 100%;
}


/* ANIMACION DE SLIDER */
.slider .slide-track {
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
}
@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}


/* TRANSICION PARA LOS ICONOS */
.slider i {
    transition: transform 0.5s ease, 0.5s ease;
}
.slider i:hover {
    transform: scale(1.1);
}


