/**
 * text-animations.css - Animaciones de texto
 * 
 * Contiene animaciones para efectos de texto,
 * como animaciones de escritura y otros efectos tipográficos
 * 
 * @author Samuel Ospina
 */

/* Animación de escritura para el nombre en la página de inicio */
.animacioninicio:after {
    font-size: 170%;
    content: "";
    width: 100%;
    height: 100%;
    line-height: 48px;
    animation: abomination1 7.5s linear 1;
    animation-fill-mode: forwards;
}

@keyframes abomination1 {
    0% {
        content: "S";
    }
    4% {
        content: "Sa";
    }
    8% {
        content: "Sam";
    }
    12% {
        content: "Samu";
    }
    16% {
        content: "Samue";
    }
    20% {
        content: "Samuel";
    }
    24% {
        content: "Samuel ";
    }
    28% {
        content: "Samuel O";
    }
    32% {
        content: "Samuel Os";
    }
    36% {
        content: "Samuel Osp";
    }
    40% {
        content: "Samuel Ospi";
    }
    44% {
        content: "Samuel Ospin";
    }
    48% {
        content: "Samuel Ospina";
    }
    100% {
        content: "Samuel Ospina ";
    }
}
