.about{
    padding: 10%;
    width: 100%;
}
.about .container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: end;
}
.about .container p{
    font-size: 130%;
    margin: 5%;
    margin-top: 0%;
}
.about .info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.about .sobremii{
    height: 40vh;
    border-radius: 50%;
}
.about .titulo{
    font-size: 300%;
    margin: 5%;
    margin-top: 0%;
}

.scroll-reveal {
  margin: 20px 0;
  font-size: 100%;
}

.scroll-reveal-text {
  font-size: 0.5em;
  line-height: 1.5;
  font-weight: 600;
}

.word {
  display: inline-block;
}