.about{
    padding: 10%;
    width: 100%;
}
.about .container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: end;
}
.about .container h2{
    font-size: 300%;
    margin: 5%;
    margin-bottom: 3%;
}
.about .container p{
    font-size: 130%;
    margin: 5%;
    margin-top: 0%;
}
.about .info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.about .sobremii{
    height: 40vh;
    border-radius: 50%;
}
