header { 
    padding: 3vh;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
}
header h2 {
    margin-left: 10px;
}
header nav{
    margin-right: 25px;
}
nav ul li {
    display: inline-block; 
}
nav ul li:last-child {
    margin-right: 0; 
}
nav ul li a {
    text-decoration: auto; 
    padding: 10px 20px; 
    transition: 0.3s;
}
nav ul li a:hover {
    text-decoration: underline;
    border-radius: 30px;
}

header .logo{
    height: 6vh;
}

#boton-cambiar-idioma {
    height: 4vh;
    cursor: pointer;
    transition: transform 0.3s ease;    
}

#boton-cambiar-idioma:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#boton-cambiar-idioma:active {
    transform: scale(0.9);
    transition: transform 0.1s ease;
}
