@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.loader {
    font-size: 2em;
    font-weight: 900;
    font-family: "JetBrains Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100dvh;
}

.loader span {
    display: inline-flex;
}

.loader span:nth-child(2) {
    letter-spacing: -1em;
    overflow: hidden;
    animation: reveal 1500ms cubic-bezier(0.645, 0.045, 0.355, 1) infinite
        alternate;
}

@keyframes reveal {
    0%,
    100% {
        opacity: 0.5;
        letter-spacing: -1em;
    }
    50% {
        opacity: 1;
        letter-spacing: 0em;
    }
}

@media (prefers-color-scheme: light) {
    .loader > * {
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    .loader > * {
        color: white;
    }
}