@media (prefers-color-scheme: dark) {

    /*  ####### GENERAL ####### */
    :root {
        color: rgba(255, 255, 255, 1);
        background-color: #242424;
    }
    body {
        --y-0: 98%;
        --c-0: hsla(55, 0%, 100%, 0.86);
        --x-0: 98%;
        --x-1: 98%;
        --y-1: 91%;
        --c-1: hsla(0, 85%, 73%, 0.42);
        --x-2: 16%;
        --y-2: 87%;
        --c-2: hsla(236, 85%, 73%, 0.42);
        --y-3: 79%;
        --x-3: 52%;
        --c-3: hsla(287, 85%, 73%, 0.42);
        background-color: rgb(0, 0, 0);
        background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3));
        animation: hero-gradient-animation 5s linear infinite alternate;
        background-blend-mode: overlay, normal, normal, normal;
    }

    /* ####### HEADER ####### */
    nav ul li a {
        color: #fff;
    }
    nav ul li a:hover {
        background-color: #ffffff;
        color: #1E1D2B;
    }

    /* ####### INICIO ####### */
    .titulo {
        color: white;
    }
    .container .code {
        color: #808080;
    }

    /* #### SOBRE MI #### */
    .card{
        background-color: #ebebeb;
    }
    .card__content {
        background-color: #ffffff;
    }
    .card__title {
        color: #000000;
    }
    .card__description{
        color: #777;
    }
}