/**
 * reset.css - Estilos base y reset del proyecto
 * 
 * Contiene:
 * - Reset b치sico de m치rgenes y padding
 * - Configuraci칩n de box-sizing
 * - Variables CSS globales
 * - Configuraci칩n de fuentes
 * 
 * @author Samuel Ospina
 */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}

:root {
    font-family: "JetBrains Mono", monospace;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}
